<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
<ion-searchbar
  (ionInput)="onInput($event)">
</ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="(results|async)?.length==0"> Aucun resultats </ion-item>
    <button ion-item [navPush]="pushPage" [navParams]="item" *ngFor="let item of (results | async)">
      <ion-thumbnail item-start>
        <img [src]=" 'https://image.tmdb.org/t/p/w92' + item.poster_path ">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <p>{{item.release_date|date}}</p>
    </button>
  </ion-list>
</ion-content>
