<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ result.title }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<h1>{{result.title}}</h1>
<h2>{{result.release_date|date}}</h2>
<img [src]=" 'https://image.tmdb.org/t/p/w500' + result.backdrop_path">
<p>{{result.overview}}</p>
<img [src]=" 'https://image.tmdb.org/t/p/w500' + result.poster_path">
</ion-content>
